<desy-header [homepageRouterLink]="'/'" [expandedLogo]="true">
    <desy-header-subnav >Biblioteca</desy-header-subnav>
    <desy-header-navigation>
      <desy-header-navigation-item [routerLink]="'/inicio/libro'">Libros</desy-header-navigation-item>
      <desy-header-navigation-item [routerLink]="'/inicio/autor'">Autores</desy-header-navigation-item>
      <desy-header-navigation-item [routerLink]="'/inicio/categoria'">Categorías</desy-header-navigation-item>
      <desy-header-navigation-item [routerLink]="'/inicio/email'">Email</desy-header-navigation-item>
    </desy-header-navigation>
    

    <desy-header-dropdown>Desy
      <desy-nav>
        <desy-nav-item href="https://paega2.atlassian.net/wiki/spaces/AreaUsuariosIntegradores/pages/3714121911/desy-angular+v6.0">Manual Desy</desy-nav-item>
      </desy-nav>
    </desy-header-dropdown>
    
  </desy-header>